<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sensorberg.android.okvolley">

    <uses-sdk
        tools:overrideLibrary="com.android.sensorbergVolley"/>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>
